body {
  background-color: bisque;
  text-align: center;
}
.one {
  display: flex;
  justify-content: space-around;
}
.two {
  display: flex;
  justify-content: space-around;
}
img {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
p {
  width: 350px;
  font-size: 20px;
}
.six {
  display: flex;
  justify-content: space-around;
}
.seven {
  display: flex;
  justify-content: space-around;
}
.eleven {
  display: flex;
  justify-content: space-around;
}
.twelve {
  display: flex;
  justify-content: space-around;
}
.s16 {
  display: flex;
  justify-content: space-around;
}
.s17 {
  display: flex;
  justify-content: space-around;
}
b {
  background-color: rgb(252, 202, 126);
  font-size: 20px;
}
